.about-title {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: #333;
}
      
.about-text {
font-size: 1.1rem;
font-family: 'Jomolhari' ;
text-align: justify;
line-height: 1.7;
color: #222;
}
      